<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iStory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91BC42F15F8BEC000381DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91BC45015F8BEC000381DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9966AD515F4AA2C0038C9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9966AF515F4AA2C0038C9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
